*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background: #081B31;
    color: #ffff;
    height: 5rem;
    line-height: 5rem;
}

.img {
    /* height: 150px;
    width: 150px; */
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background: #081B31;
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #computer-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    margin-top: 2rem;
    background: #081B31;
    color: #ffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.win {
    background-color: rgb(7, 234, 7);
}

.lose {
    background-color: rgb(240, 9, 9);
}

.draw {
    background-color: rgb(162, 183, 5);
}